<?xml version="1.0"?>
<config>
    <modules>
        <Achang_ChinaInvoice>
            <version>0.4.0</version>
        </Achang_ChinaInvoice>
    </modules>
    <global>
        <models>
            <chinainvoice>
                <class>Achang_ChinaInvoice_Model</class>
            </chinainvoice>
            <checkout>
                <rewrite>
                    <type_onepage>Achang_ChinaInvoice_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>Achang_ChinaInvoice_Model_Order</order>
                </rewrite>
            </sales>
            <achangadminthemecontroller>
                <class>Achang_ChinaInvoice_Controller</class>
            </achangadminthemecontroller>
        </models>
        <helpers>
            <chinainvoice>
                <class>Achang_ChinaInvoice_Helper</class>
            </chinainvoice>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Achang_ChinaInvoice_Block_Onepage</onepage>
                    <onepage_progress>Achang_ChinaInvoice_Block_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
            <chinainvoice>
                <class>Achang_ChinaInvoice_Block</class>
            </chinainvoice>
            <chinainvoiceonepage>
                <class>Achang_ChinaInvoice_Block_Onepage</class>
            </chinainvoiceonepage>
        </blocks>
        <resources>
            <chinainvoice_setup>
                <setup>
                    <module>Achang_ChinaInvoice</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinainvoice_setup>
        </resources>
        <events>
            <!-- START Adds the Admin theme switcher, enables to avoid modify admin themes -->
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <achang_themeoverride_observer>
                        <type>singleton</type>
                        <!-- achangadminthemecontroller/observer  -->
                        <class>Achang_ChinaInvoice_Controller_Observer</class>
                        <method>overrideTheme</method>
                    </achang_themeoverride_observer>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <!-- END Adds the Admin theme switcher, enables to avoid modify admin themes -->
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Achang_ChinaInvoice before="Mage_Checkout">Achang_ChinaInvoice</Achang_ChinaInvoice>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <!-- START Custom added by Branko Ajzele: Hooks into order save event -->
            <!--<checkout_onepage_controller_success_action>-->
                <!--<observers>-->
                    <!--<hooksystem_order_success>-->
                        <!--<type>singleton</type>-->
                        <!--<class>fapiao/observer</class>-->
                        <!--<method>hookToOrderSaveEvent</method>-->
                    <!--</hooksystem_order_success>-->
                <!--</observers>-->
            <!--</checkout_onepage_controller_success_action>-->
            <sales_model_service_quote_submit_success>
                <observers>
                    <hooksystem_order_success>
                        <type>model</type>
                        <class>chinainvoice/observer</class>
                        <method>hookToOrderSaveEvent</method>
                    </hooksystem_order_success>
                </observers>
            </sales_model_service_quote_submit_success>
            <!-- END Custom added by Branko Ajzele: Hooks into order save event -->
        </events>
        <layout>
            <updates>
                <chinainvoice>
                    <file>chinainvoice.xml</file>
                </chinainvoice>
            </updates>
        </layout>
        <translate>
            <modules>
                <Achang_ChinaInvoice>
                    <files>
                        <default>Achang_ChinaInvoice.csv</default>
                    </files>
                </Achang_ChinaInvoice>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <chinainvoice>
                    <file>chinainvoice.xml</file>
                </chinainvoice>
            </updates>
        </layout>
        <translate>
            <modules>
                <Achang_ChinaInvoice>
                    <files>
                        <default>Achang_ChinaInvoice.csv</default>
                    </files>
                </Achang_ChinaInvoice>
            </modules>
        </translate>
    </adminhtml>
</config>